.overviewTable {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  padding: 5px;
}
.overviewTable th {
  border: 1px solid #c0c0c0;
  padding: 5px;
}
.overviewTable td {
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.display-none {
  display: none;
}
body {
  margin: 0;
  padding: 0;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 510px) {
  .hideOnSmallScreen {
    display: none;
  }
}
